[2017-03-02 10:11] yasirunilan opened #3 "Password reset option"
It's better if there is an option to reset the password in case of forgetting the password.

[2017-03-06 20:01] yasirunilan opened #6 "Logout and Profile option alignment"
It's better if the Logout and Profile option containing icon is right aligned rather than having it in the center of the Nav bar

[2017-03-10 23:41] DanCarl857 commented on #6
I will like to work on this

[2017-03-23 18:23] yasirunilan commented on #6
@DanCarl857 please proceed

[2017-03-24 16:35] Anh3h commented on #6
Will like to work on this :)

[2017-06-01 11:13] botraunak opened #10 "Update Login Page Design"
Update the login page design as attached below

![login page](https://cloud.githubusercontent.com/assets/7816559/26677394/5fec018a-46e9-11e7-8a62-13d7a07b2696.png)

[2017-06-01 11:38] botraunak opened #11 "Add Logout Option"
No way of logging out of the web self service app

[2017-06-01 11:42] botraunak opened #12 "Should not be able to open pages even after auth data is removed"
Current if we clear all the local storage variables that are created after authentication, user is still able to access pages where only logged in users should be allowed.

Steps to reproduce:
1. Login
2. Logout
3. Open any url that should be opened only when authenticated

[2017-06-01 16:24] botraunak opened #13 "Styles Task Of Gulp Broken"
`styles` task of `gulp/styles.js` broken. Not injecting stylesheet in index.html

to verify no stylesheets created in `.tmp/` folder, when running `gulp serve`

[2017-06-02 04:45] #11 closed

[2017-06-02 05:08] botraunak opened #15 "Add travis.yml so builds don't fail"
Add a basic `.travis.yml` So Builds don't fail

[2017-06-02 06:20] #13 closed

[2017-06-02 06:20] #15 closed

[2017-06-07 15:47] #10 closed

[2017-06-12 06:20] botraunak opened #18 "Update Nav bar Style"
Update the navigation bar according to the style

[2017-06-13 17:28] botraunak opened #20 "Accounts table Pagination not working"
The accounts page table pagination limit and next page not working

[2017-06-14 14:38] botraunak opened #22 "Add Account status colours to account list"
Like the community app add the status colours to the accounts list

[2017-06-15 07:48] botraunak opened #23 "Setup ESLint for the Project"
Enforce angular style guide on the project

[2017-06-17 13:33] #23 closed

[2017-06-17 13:33] #22 closed

[2017-06-17 13:34] #20 closed

[2017-06-17 13:34] #18 closed

[2017-06-17 13:34] #12 closed

[2017-09-15 04:04] botraunak opened #33 "Account Transfer Failing for some accounts"
The backend is returning 500 for some transfers, test it and fix the code once this issue is identified on the platform.

Identified on merging #32

![https://user-images.githubusercontent.com/5118506/30424287-1ee72a1c-9963-11e7-88ca-d45832894dde.png](https://user-images.githubusercontent.com/5118506/30424287-1ee72a1c-9963-11e7-88ca-d45832894dde.png)

[2017-09-18 12:45] santoshmath opened #35 "Once Loan Application is submitted using 'Apply For Loan' , it gets submitted successfully but it remains in the name page #410"
Expected : It should come out of that page with confirmation

[2017-09-18 12:46] santoshmath opened #36 "Cancel Button in 'Apply for Loan' is not working and leading nowhere"

[2017-09-25 07:42] santoshmath opened #37 "While adding beneficiary Savings account number should be picked from drop-down"

[2017-09-25 08:04] botraunak opened #38 "UI breaking if translation key not present"
If the key is not present in the `global-translations` language json file the UI breaks after adding multi-language support.

[2017-09-25 08:51] botraunak commented on #37
@santoshmath Beneficiaries are added for third-party transfer and not of internal client account transfers for that we already have transfers I guess.
Giving beneficiary savings account number in a drop-down would mean to list all the savings account of all the clients currently on the platform?
@edcable Thoughts?

[2017-09-25 11:28] santoshmath commented on #37
@botraunak , you are right. I am confused.

[2017-10-07 03:57] nikpawar89 opened #41 "Users activity interferes with other users activity."
After the app is deployed on the server and accessed by multiple users, the activity of one user can be seen by other.
Say, there are two users who have opened web self service app, if one user scrolls the page, other users page is also scrolled !!

[2017-10-07 04:37] botraunak commented on #41
Are you using `gulp serve` to deploy on the server?

[2017-10-07 04:50] nikpawar89 commented on #41
yes

[2017-10-07 04:54] botraunak commented on #41
@nikpawar89 that uses browser sync that's why the actions are synced. We soon will have a build scripts to deploy it. I'm working on getting it merged :)
Ref: https://github.com/botraunak/web-self-service-app/pull/22/files
After this is merged here on the main repository, this will be resolved.

[2017-10-07 05:05] nikpawar89 commented on #41
cool! looking forward for it.

[2017-10-07 08:06] nikpawar89 commented on #41
@botraunak we were able to work around the subjected issue by disabling the ghostMode in browserSync init.

 browserSync.instance = browserSync.init(files, {
        startPath: '/',
        ghostMode:false,  <--------------ghost mode disabled ,i didn't care about its any another occurence
        server: {
            baseDir: baseDir,
            middleware: middleware,
            routes: routes

[2017-10-11 05:35] santoshmath opened #42 "If you enter wrong username or password while logging in , application doesn't throw any error and it just keeps showing lading sign"

[2017-10-11 05:45] santoshmath opened #43 "Unable to create a new user/account for client. Showing 'username is required' even though it is entered"

[2017-10-11 09:44] santoshmath opened #44 "Clicking on Client Profile leading nowhere"
![clientprofile](https://user-images.githubusercontent.com/23022667/31433396-d0b30fb6-ae96-11e7-8eba-c07e337819c8.png)

[2017-10-11 09:50] santoshconflux opened #45 "'Total Loan Accounts' and 'Total Loan' values are exceeding the boundaries"
![1](https://user-images.githubusercontent.com/23022667/31433676-a8d64d68-ae97-11e7-9f6a-39b18f7c10f1.png)

[2017-10-11 12:22] santoshmath commented on #43
Now it's  showing password error even though it is entered.

![screenshot from 2017-10-11 17-51-25](https://user-images.githubusercontent.com/23022667/31440269-ea650b2e-aeac-11e7-8ffe-d4a207ca55d5.png)

[2017-10-11 12:47] santoshmath opened #46 "Enhancements needed related to 'Add Beneficiary'"
1.  Office names should be selected by drop-down.
2.   As there could be multiple clients with same name , client account number should be captured along with name.
3. The order of capturing should be:
    i) Beneficiary Name
   ii) Beneficiary Account Number
   iii) Office Name(select from drop-down)
   iv)  Account Type
   v) Account Number
   vi) Transfer Limit

[2017-10-11 12:52] santoshconflux opened #47 "Review Button is needed while adding Beneficiary just like 'Review Transfer' in Third Party Transfer"
1. Once clicked on 'Add Beneficiary' button, 'Review Beneficiary' button can be enabled which can be done some higher level user(Ex;Branch Manager)

[2017-10-11 13:06] santoshmath opened #48 "Unable to do Third Party Transfer"
Please check the screenshot and try with same account number..

![thirdparty transfer](https://user-images.githubusercontent.com/23022667/31442159-1675644c-aeb3-11e7-8c55-09c24ff6ad1e.png)

[2017-10-19 02:03] pamo commented on #38
Hey guys, I'd like to pick this up 🙋

[2017-10-19 04:14] pamo opened #51 "Documentation for authentication in local development environments"
Some guidance (or a link) around how to log in as a test user would be very useful in the readme.

[2017-10-22 08:25] gauravsaini03 commented on #51
@botraunak Can you please help @pamo and see if we can add the documentation in the readme file.

[2017-10-25 03:32] botraunak opened #52 "Add Login error handler"
When authentication fails, on the login the UI goes into a loading state.
It should reset and show a notification for wrong credentials

Replicate by trying to login with
username: selfservice
password: anything

Works fine when you login with right credentials

Screenshot
<img width="1680" alt="screen shot 2017-10-25 at 9 01 25 am" src="https://user-images.githubusercontent.com/7816559/31979217-1

[2017-12-03 06:32] botraunak commented on #51
https://mifosforge.jira.com/wiki/plugins/servlet/mobile?contentId=187490803#content/view/187490803

There is some supporting documentation for creating and logging in as a test user!

[2017-12-03 06:40] pamo commented on #51
I tried walking through those steps and didn't get very far. It would have been helpful to be directed to that page via the readme for this repo as well.

[2017-12-03 06:42] botraunak commented on #51
@pamo what specific errors are you facings?

[2017-12-03 06:43] gkrishnan724 opened #59 "UI Problems in Firefox"
Login page not aligned well and side-nav changes size when we switch from `accounts` tab to any other tab in Firefox browser

![firefox](https://user-images.githubusercontent.com/21004514/33523065-2f503ed0-d823-11e7-8029-696a0cd3beb7.gif)

[2017-12-04 04:27] #38 closed

[2017-12-11 17:02] ankit01ojha commented on #52
I would like to work on this.

[2017-12-11 18:52] botraunak commented on #52
@ankit01ojha Sure go ahead!

[2017-12-31 11:51] abhaychawla commented on #51
@botraunak Can you please elaborate a little on step 2 about the Fineract installation? I am unable to understand

[2018-01-02 07:49] #52 closed

[2018-01-03 09:02] botraunak opened #64 "Gulp Script broken for styles"
Styles don't auto reload when making changes to sass.

[2018-01-04 17:04] abhaychawla opened #65 "Authenticated User Can Access Login Page"
The user can access the login page by pressing the back button or typing the URL even after he is logged in and authenticated.

[2018-01-04 17:04] abhaychawla commented on #65
I will be working on this issue.

[2018-01-04 17:11] abhaychawla opened #66 "No Logout Option"
Once a user is logged in there is no option available to log out.

[2018-01-04 17:11] abhaychawla commented on #66
I will be working on this issue.

[2018-01-04 17:27] #66 closed

[2018-01-06 22:15] abhaychawla opened #68 "Cancel Button does not work at various places"
The cancel button does nothing when clicked. This bug is present in the transfers, third-party transfers and the apply for loan section.

[2018-01-08 14:13] abhaychawla commented on #68
I want to take up this issue. @botraunak I want to know your opinion, whether the user should be redirected to dashboard on pressing the cancel button or just the textfields should go blank.

[2018-01-11 17:12] anweshknayak opened #70 "Error message if user is not authenticated"

[2018-01-11 17:13] #70 closed

[2018-01-18 14:35] nicomoscoloni opened #71 "gulp forever"
Hi Guys, how I can run the command "gulp server" for forever?
When I close the ssh terminal the app turn off.
Any solutions? thanks

[2018-02-13 07:55] anweshknayak commented on #59
@botraunak can I take this up?

[2018-02-13 19:54] NirmalKumarJoshi commented on #71
Try this:

forever start -c "gulp" serve

The -c option allows you to use any command.

[2018-02-13 19:55] NirmalKumarJoshi commented on #43
Working on it. Will update you soon on this.

[2018-02-13 23:32] botraunak commented on #59
@anweshknayak sure! go ahead

[2018-02-13 23:38] botraunak commented on #71
@ciarg You should really not be using the gulp serve on the production server, the `gulp serve` command is only for local development, what you should do in the ideal case is run `gulp build` and then serve the dist directory through a server like `nginx` or `apache`

[2018-02-13 23:39] botraunak commented on #68
@abhaychawla just clear all the fields!

[2018-02-13 23:48] #64 closed

[2018-02-14 18:29] abhaychawla commented on #68
Okay! Working on this.

[2018-02-14 18:30] abhaychawla commented on #65
The issue has been resolved so it can be closed now. 🙂

[2018-02-14 18:30] #65 closed

[2018-02-14 20:40] abhaychawla commented on #68
@botraunak I am unable to login with the credentials provided in the wiki page. Have they been changed?

[2018-02-15 16:44] sarthak-sehgal commented on #68
@botraunak, I'm facing the same issue. Have the login credentials been changed?

[2018-02-16 07:54] botraunak commented on #68
@abhaychawla  @sarthak-sehgal, yes it's not working for me as well, let me change the password on the demo instance and update the wiki

[2018-02-16 07:57] botraunak commented on #68
Find the new credentials updated on the wiki page [here](https://github.com/openMF/web-self-service-app/wiki)

[2018-02-17 05:20] sarthak-sehgal commented on #44
@botraunak, can I work on this issue? What all should be there on the profile page?

[2018-02-17 13:53] abhaychawla commented on #68
Okay! thanks

[2018-02-17 13:54] GS3207 opened #74 "Gulp serve"
TypeError: require.extensions.hasOwnProperty is not a function
This is the error that appears when Gulp serve is executed. It is an issue with require-dir and nodejs 8.
Did not find a fix yet.

[2018-02-17 18:29] abhaychawla commented on #68
@botraunak While working on the issue I found out that the code seems to consist of 2 copies of files for the transfers section.
In app/src/tpt --> transfers.html, transfers.component.js, transfers.service.js
and in app/src/transfers --> transfers.html, transfers.component.js, transfers.service.js
Same is the case for the review-transfer-dialog

The issue is that the template is being taken from t

[2018-02-17 18:34] abhaychawla commented on #74
@GS3207 I guess you are working on the wrong branch of the repository. The latest code is being maintained on the develop branch where this isn't an issue.

[2018-02-17 18:51] botraunak commented on #68
@abhaychawla Good catch, the `transfer.component` files should not belong there and should be removed. Can you open a separate issue for this? you can come back to this issue later.

[2018-02-17 18:59] botraunak commented on #74
@abhaychawla thank you for the providing the clarification!

@GS3207 The default branch for contributions is `develop` Please switch to that branch for development 👍

[2018-02-17 19:00] #74 closed

[2018-02-17 19:06] abhaychawla commented on #68
Sure!

[2018-02-17 19:10] abhaychawla opened #75 "Redundant files in tpt directory"
The code consists of two copies of the same set of files for the transfers section in the following directories:
- app/src/tpt --> transfers.html, transfers.component.js, transfers.service.js
- app/src/transfers --> transfers.html, transfers.component.js, transfers.service.js
Same is the case for the review-transfer-dialog.

The redundant files do not belong to the tpt directory and should be remo

[2018-02-17 19:11] abhaychawla commented on #75
Working on the issue.

[2018-02-17 19:14] botraunak commented on #75
@abhaychawla Also remove the duplicate `review-transfer-dialog` in the `tpt` directory!

[2018-02-17 19:28] abhaychawla commented on #75
Done!

[2018-02-17 19:39] botraunak commented on #75
Ref: #76

[2018-02-17 19:39] #75 closed

[2018-02-18 15:13] sarthak-sehgal opened #77 "Dashboard cards are not responsive"
The cards in the dashboard are not responsive.
![selfservice 1](https://user-images.githubusercontent.com/29003134/36353426-575deac0-14ec-11e8-88ff-629f72f1846d.png)

Would like to work on this.

[2018-02-18 15:15] sarthak-sehgal opened #78 "Hamburger should be on the left."
The hamburger which opens the navigation sidebar should be aligned on the left.
![selfservice 2](https://user-images.githubusercontent.com/29003134/36353448-a7e67264-14ec-11e8-8749-855f0ab8f847.png)

Would like to work on this.

[2018-02-18 21:43] abhaychawla opened #80 "Create a template for Issues and Pull Requests for the repository"
Adding a template for issues and pull requests will help the contributors share all the required important information which will be helpful to the community as a whole. (Similar templates can be implemented here as in the community app of mifos)

[2018-02-18 21:45] abhaychawla commented on #80
@botraunak Can I work on this?

[2018-02-23 13:59] sarthak-sehgal opened #83 "Complete the translation of the app to Hindi"
## Description
At present, the app has an option to switch to "Hindi" language but the support isn't quite wide. I propose to extend the support of the language across the whole app.

## Screenshot
![self service hindi 1](https://user-images.githubusercontent.com/29003134/36597674-d56edad2-18cf-11e8-9b86-ddf8e203b979.png)
![self service hindi 2](https://user-images.githubusercontent.com/29003134/3

[2018-02-23 14:01] sarthak-sehgal commented on #78
@botraunak, fixed this. Please have a look.

[2018-02-23 14:02] sarthak-sehgal commented on #83
@botraunak, can I work on this?

[2018-02-23 15:14] anweshknayak opened #84 "Responsiveness enhancement"
![selfserv](https://user-images.githubusercontent.com/8139783/36603836-0ebcba68-18e2-11e8-975e-bdf0d86d219b.gif)

It should be vertical scrollable if UI needs to be enhanced for mobile view

[2018-02-23 15:24] anweshknayak commented on #59
@botraunak looks like this has been fixed already. Could you check and close this one?

[2018-02-27 13:10] MexinaD opened #85 "An error when you run "gulp build""
When you run the "gulp build" i get an error in the attached image
![builderror](https://user-images.githubusercontent.com/8160209/36730479-a01d66b2-1bd8-11e8-8e3c-9f2170590de0.png)

[2018-02-28 10:19] luckyman20 commented on #85
@MexinaD I think you should do `gulp serve` instead of `gulp build` for running the web app

[2018-02-28 23:17] pratyush1687 commented on #84
hi, i think this issue is same as #77

[2018-03-01 08:34] anweshknayak commented on #84
@pratyush1687 I think there are more components to enhance than only cards.

[2018-03-04 12:58] ankit01ojha commented on #47
@botraunak , I would like to work on this issue.

[2018-03-06 07:17] botraunak commented on #84
#77

[2018-03-06 07:17] #84 closed

[2018-03-14 16:57] #78 closed

[2018-03-14 17:08] botraunak opened #88 "Add Client Image if present"
Add the user image to greet the person if the client image is present!

[2018-03-14 17:16] #88 closed

[2018-03-14 17:37] botraunak opened #91 "Register and Forgot Password Screens not functional"
Nothing happens when you submit the forms on the register and forgot password screens!

[2018-03-14 17:38] botraunak commented on #91
Integrate the register self service fineract API

[2018-03-14 17:40] botraunak opened #92 "Break _custom.scss into different files"
Refactor the page specific styles into different sass files

[2018-03-14 20:28] abhaychawla commented on #91
@botraunak Can I work on this issue?

[2018-03-15 04:43] botraunak commented on #91
Sure go ahead, you would have to change the server url to mobile.openmf as the register and confirm apis are available on that server only

[2018-03-15 14:04] abhaychawla commented on #91
Okay!

[2018-03-24 17:31] abhaychawla commented on #91
@botraunak I made the required changes but I keep getting a CORS error while trying to make a request and register using the browser. I am unable to resolve this error. Could you please guide me on how this can be resolved?

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://mobile.openmf.org/fineract-provider/api/v1/self/registration?accountNumbe

[2018-04-28 08:09] #33 closed

[2018-04-28 08:09] #42 closed

[2018-04-28 08:09] #48 closed

[2018-04-28 08:09] #68 closed

[2018-05-16 18:40] ankit01ojha opened #101 "Profile page for Clients'"
Profile page for the client is required so, that he/she can see his/her personal information.

[2018-05-17 06:59] botraunak opened #103 "Travis CI build failing for develop branch"
bower install is failing with travis ci

[2018-05-17 07:09] #103 closed, assigned to nobody

[2018-06-06 15:16] ankit01ojha opened #107 "Application for new shares and savings account missing."
Applications for applying for a new shares and savings account are missing.

[2018-07-09 15:22] ankit01ojha opened #116 "Pressing back button from any account details goes to the list of Loan account rather than that account type."
Pressing back button from details of any of the account goes back to the list of loan accounts. Eg: If you are viewing details of Savings account and when the back button is pressed it goes back to the list of Loan accounts rather than the list of savings account.
![back_button](https://user-images.githubusercontent.com/21126132/42459725-e8a8b406-83b9-11e8-88cb-36377c07c7ef.gif)

[2018-07-09 15:28] ankit01ojha opened #117 "Icons in the side nav bar aren't visible when the view is changed to tablet view."
The icons in the side nav bar aren't visible when the view is changed to tablet view. Although it is visible for mobile and desktop view.
![screenshot from 2018-07-09 20-58-22](https://user-images.githubusercontent.com/21126132/42460176-dc56da10-83ba-11e8-922d-8fa771a35094.png)

[2018-07-11 19:10] ankit01ojha opened #118 "Pagination is not working in Beneficiaries list and add button is also not fixed."
Pagination is not working properly in beneficiaries, it is showing all the data in one page only. And the add button is not fixed also, it is moving with scrolling in the page.

![screenshot from 2018-07-12 00-26-10](https://user-images.githubusercontent.com/21126132/42594125-e0196494-856b-11e8-93ef-a3630bacc101.png)

[2018-10-06 03:53] Rupeshiya commented on #118
@ankit01ojha  I would like to fix this ,Can I go ahead ?

[2018-10-06 04:30] Rupeshiya commented on #116
I would like to fix this @ankit01ojha , Can I ?

[2018-10-06 05:28] Rupeshiya opened #128 "Error in readme.md ."
Git clone path -->path is wrong url.

[2018-10-06 08:44] Rupeshiya opened #129 "Filled every info correctly but unable to signup."
### Screenshot indicates about the issue
![screenshot 35](https://user-images.githubusercontent.com/31209617/46569335-e036ad80-c970-11e8-9410-3481bbdd549a.png)

 please give your review

[2018-10-06 14:14] Rupeshiya commented on #129
@botraunak  give your review please.

[2018-10-06 14:23] ankit01ojha commented on #129
@Rupeshiya This feature is available in the develop branch only( for now). And you should be a self-service client for registering to the app. You can refer the GIF here ( point no. 2 ) https://gist.github.com/ankit01ojha/fe46be98bf69883c37e4497ca4f1e076

[2018-10-06 14:24] ankit01ojha commented on #116
@Rupeshiya  yeah sure, go ahead.

[2018-10-06 14:30] ankit01ojha commented on #128
@Rupeshiya , Thanks for reporting. I'll get this fixed :)

[2018-10-06 16:04] Rupeshiya commented on #128
@ankit01ojha  done !

[2018-10-06 16:10] Rupeshiya commented on #129
@ankit01ojha  Then How can I check issue #118  #116  locally without login ?

[2018-10-06 17:57] ankit01ojha commented on #129
@Rupeshiya for login use these credentials ``` username: selfservice ```  and ```password: password```.

[2018-10-06 17:58] ankit01ojha commented on #118
@Rupeshiya  yeah sure :+1:

[2018-10-06 18:15] Rupeshiya commented on #129
thanks @ankit01ojha

[2018-10-14 15:53] Rupeshiya opened #134 "Unwanted code in _custom.scss"
## Two times used in _custom.scss

![screenshot 50 _li](https://user-images.githubusercontent.com/31209617/46919052-04406180-cff7-11e8-8198-fcf3f9cf4d50.jpg)

Should I fix this ? @botraunak  @gauravsaini03

[2018-10-15 16:40] joeedwin commented on #129
you should close this issue @Rupeshiya

[2018-10-15 19:39] #129 closed, assigned to nobody

[2018-10-16 11:46] Rupeshiya commented on #134
@keithwoodlock  should I fix this ?

[2018-10-16 12:00] keithwoodlock commented on #134
@Rupeshiya no longer involved in OpenMF day to day.  I guess if theres duplication no harm fixing it :+1:

[2018-10-16 13:20] Rupeshiya commented on #134
@keithwoodlock  what do you mean by 'no longer invloved in OpenMF '  here ??

[2018-10-16 13:26] keithwoodlock commented on #134
@Rupeshiya I no longer actively contribute to mifosx or related projects at present. Not sure why you picked me out as someone to @mention - have you spoke with anyone else in the mifos community?

[2018-10-16 13:29] Rupeshiya commented on #134
sorry @keithwoodlock  I did not knew that . I have talked with others as well but no one was responding and in @mention there was you username so I picked that one .

[2018-10-16 13:32] keithwoodlock commented on #134
@Rupeshiya  no problem at all. Have you got in contact through the dev email list or through picking up a JIRA issue? @edcable should be able to point you in the right direction for correct communication channels

[2018-10-16 14:38] Rupeshiya commented on #134
@keithwoodlock  I don't know much more about JIRA but trying to be familiar with .

[2018-10-19 12:05] #128 closed, assigned to nobody

[2018-10-21 16:20] ankit01ojha opened #137 "Refreshing the page changes the language back to English"
When language is changed from English  ( Eg: Hindi ) and when the page is refreshed the language gets changed back to English.

[2018-10-21 16:22] ankit01ojha commented on #116
@Rupeshiya , Since, there is no update from you. I am adding this issue as a GCI task.

[2018-10-22 17:53] ankit01ojha commented on #118
@Rupeshiya, I am adding this issue as GCI task.

[2018-10-22 17:59] Rupeshiya commented on #118
@ankit01ojha  I have tried and fixed button postion but was unable to fix pagination till now , but no worry ,will try to fix other issue  👍👍

[2018-10-22 18:03] ankit01ojha commented on #118
@Rupeshiya okay, sure.

[2018-11-15 04:30] jonathanzhang53 commented on #137
@ankit01ojha how do I change the language?

[2018-11-15 21:58] jonathanzhang53 commented on #137
Hi, I found a solution either using local storage or cookie storage. Which would be preferred? @ankit01ojha

[2018-11-15 22:30] jonathanzhang53 commented on #137
I think I will use local storage. It can be changed with one line to cookie storage if needed. I will submit PR now.

[2018-11-17 09:56] #137 closed, assigned to nobody

[2018-11-18 19:19] jonathanzhang53 commented on #116
@ankit01ojha The back button directs back to the last link, which would be http://localhost:3000/#!/accounts. By default, the loan accounts list shows up.

The only way I see to fix this is to add a back button on the account details page which takes the user back to savings account list.

Would that be a good solution?

[2018-11-19 15:28] ankit01ojha commented on #116
@jonathanzhang53 , I think that will work. Can you first send me a mock-up describing where you want to put the back button?

[2018-11-19 22:02] jonathanzhang53 commented on #116
@ankit01ojha Sure. I will take this as a GCI task after I get some stuff reviewed.

[2018-11-19 23:06] jonathanzhang53 commented on #116
https://www.figma.com/proto/b9qlcf8mVMfh0FB2PDL7ugRQ/Mifos-Back-Button?node-id=1%3A4&viewport=329%2C304%2C0.417535&scaling=min-zoom

Here is a figma prototype. (You can see without an account)
Click the back button at the top left and then click on the first account that is there to see how the functionality would work.

[2018-11-20 04:56] jonathanzhang53 opened #140 "Dashboard on Navigation NavBar Has Less Area to Click than Rest of Options"
### Description
You have less space to click the `Dashboard` option as compared with the other options on the left nav bar that appears when you log in.

### Steps to reproduce
Log into the web app.
Hover over `Dashboard`.

### Expected Behaviour
You should be able to click the whole bar to get to the dashboard.

### Actual Behaviour
You can only click the actual dashboard word area.

### Settings

[2018-11-20 20:05] jonathanzhang53 opened #142 "Apply Button on "Apply for Loans" is not grayed out at start"
## Description
On the `Apply for Loan` page, the button `Apply` is clickable and blue right when you get on the page, but this is not uniform with `Apply for Savings` and `Applying for Shares`.

## Steps to reproduce
Login.
Click `Apply For Loan` tab on the left nav bar.
See the blue `Apply` button that should be grayed out.

## Expected Behaviour
The button should be grayed out until the necessar

[2018-11-21 16:56] jonathanzhang53 commented on #116
@ankit01ojha
This is a GIF of the mockup:
![backbutton](https://user-images.githubusercontent.com/41968151/48857891-9b7ba000-ed7f-11e8-8f4a-561adcd2e0d6.gif)

Could I implement this?

[2018-11-21 17:33] #47 closed

[2018-11-21 17:34] #140 closed, assigned to nobody

[2018-11-21 17:35] #142 closed, assigned to nobody

[2018-11-21 17:44] jonathanzhang53 commented on #116
Actually, it would be a hassle to put it in the top toolbar because it's not included in <md-content>, instead, I think it would be better to put it right above the cards on the detail page.

[2018-11-22 03:19] ankit01ojha commented on #116
@jonathanzhang53 , yeah it will be better to put the back button at the top left of the card. In this way, the basic design of the app will not be changed.

[2018-11-22 03:33] jonathanzhang53 commented on #116
@ankit01ojha I was able to put the back button in but I am unable to reroute to the account list while making the savings tab active. I left a comment on the GCI task about what I had in mind but I'm not sure how to execute it.

[2018-11-23 02:14] jonathanzhang53 opened #144 "Graph for Transaction History Select Boxes are not full size"
## Description
Create Graph select boxes on the dashboard are too small and should be resized.

## Steps to reproduce
Log in.
You will be on dashboard page. Scroll down until you see the screenshot below.

##Expected Behaviour
The input boxes should be large enough so the title of them is completely visible instead of being Account Nu...

##Actual Behaviour
Account Nu...

## Settings:
    -Browser

[2018-11-23 02:20] jonathanzhang53 opened #145 "About Us Card has White Space Outside"
## Description
When you are on the About Us page, there is white behind the card, but that shouldn't be there, just like the rest of the site.

## Steps to reproduce
Log in.
Click 'About Us' on the left nav bar.

## Expected Behaviour
![image](https://user-images.githubusercontent.com/41968151/48926468-074f2d00-ee94-11e8-8459-120936c07660.png)

## Actual Behaviour
![image](https://user-images.gith

[2018-11-23 13:50] ankit01ojha commented on #116
@jonathanzhang53 , what can be done here is that you can use is ```md-selected``` and set it to a variable for the tab index. You can save the index of the tab in the sessionStorage and change the value of the variable as per the tabIndex. Once, an account detail is clicked the index of the tab will be stored in the cache and when the user comes back to account list page you can retrieve the tab i

[2018-11-23 17:38] #116 closed, assigned to nobody

[2018-11-24 02:52] jonathanzhang53 commented on #118
I've been looking at this issue and I have copied the formatting of pagination from `Recent Transactions` and `Accounts` and applied it to the `Beneficiaries List`, but nothing is allowing the pagination to work.
I don't think this is an angular pagination issue, but something with the table that's off. Will look into this more later.

[2018-12-03 03:40] jonathanzhang53 commented on #145
Working on this

[2018-12-03 03:40] jonathanzhang53 commented on #144
Working on this

[2018-12-10 00:51] m-sameer commented on #118
@ankit01ojha I have found a task on GCI portal to fix the beneficiary button scrolling but it is fixed at the bottom. I have tested on Google Chrome and Firefox. So the issue description must be updated, correct me if I'm wrong. :smile:

[2018-12-10 01:05] jonathanzhang53 commented on #118
@m-sameer you are correct. The add button is no longer buggy. I have done a few things with the pagination on my fork, feel free to take a look if you claim the task.

[2019-01-10 20:27] aashish-ak opened #149 "Opening the logout menu throws deprecation warning."
## Description
On clicking the logout menu button, the browser throws an error in the browser console `mdMenu: The $mdOpenMenu method is deprecated. Please use $mdMenu.open.`
## Steps to reproduce
Click on the logout menu button and open the browser console , you can see the deprecation warning there.
## Cause of error
In file `main.html`, the method `$mdOpenMenu()` is being used which is now depr

[2019-01-10 20:30] aashish-ak commented on #43
Can i work on this issue?

[2019-01-11 03:22] santoshconflux commented on #43
Sure @aashish-ak . @botraunak may help you.

[2019-01-11 17:21] aashish-ak commented on #43
@botraunak @santoshconflux The form is not functional as the API link to which POST request is being made doesn't exist, i didn't find it in the [API docs](https://demo.openmf.org/api-docs/apiLive.htm#selfuser) as well. Please confirm.
![registeration](https://user-images.githubusercontent.com/21988675/51049002-a0780580-15f2-11e9-93e5-844c7a52db5f.png)

[2019-01-13 04:07] Rupeshiya commented on #149
@aashish-ak  are you working on this ?

[2019-01-15 05:33] ankit01ojha commented on #43
@aashish-ak the form is functional as there was a recent API created for it, which I have already integrated with UI. The only error here is that when the value from any of the required field is removed and entered again the form is not removing the error message from it, although the form will work even if the error message is there given that the right data is filled in it. What you can do is th

[2019-01-15 06:18] #144 closed, assigned to nobody

[2019-01-24 06:41] santoshconflux commented on #43
@botraunak , @therajanmaurya , someone can review this PR?

[2019-01-27 05:37] #145 closed, assigned to nobody

[2019-01-27 05:37] #149 closed, assigned to nobody

[2019-02-01 21:47] aashish-ak commented on #80
@botraunak @santoshconflux Can i work on this?

[2019-02-04 12:38] aasaru opened #151 "Third party transfer fails due to wrong controller being used"
##Description
When confirming a Third Party Transfer following error occurs:  validation.msg.accounttransfer.null.invalid.to.account.details

##Steps to reproduce
1. Start a new Third Party Transfer
2. fill in details
3. click "Review details"
4. click "Transfer now"

##Expected Behaviour
Successful transfer

##Actual Behaviour
Error "validation.msg.accounttransfer.null.invalid.to.account.details"

[2019-02-04 12:40] aasaru commented on #151
I would like to work on this issue

[2019-02-06 10:29] ankit01ojha commented on #80
@aashish-ak , it is done already #110

[2019-02-26 09:48] #80 closed

[2019-03-06 13:06] #151 closed, assigned to nobody

[2019-03-18 13:24] jorigelbaugh commented on #92
I would like to work on this issue!

[2019-03-19 14:36] ankit01ojha commented on #92
@jorigelbaugh sure, go ahead.

[2019-03-20 14:02] jorigelbaugh commented on #92
Great! I updated the name of "_common" to "_general_styles"; essentially this file now contains styling that applies to more than one page/file. All other sections of this original file were refactored into separate files, according to either page or function (for example, all styles for the account_list page are now in a file named "_account_list.scss"; all styles related to status colors are now

[2019-05-24 12:34] elirehema commented on #85
It seems like you don't have Watchman installed  you can install it with brew like this:

Take look at this [issues](https://github.com/facebook/create-react-app/issues/4540)

[brew](https://brew.sh)
[watchman](https://facebook.github.io/watchman/docs/install.html)
[code]

Let me know if it works

[2019-06-11 10:04] elirehema commented on #118
I would like to work on this issue

[2019-06-11 14:34] jonathanzhang53 commented on #118
Go ahead.

On Tue, Jun 11, 2019 at 3:04 AM eLi <notifications@github.com> wrote:

[2019-06-11 14:34] jonathanzhang53 commented on #118
I couldn’t find a fix so I gave up. Pagination is weird here.

On Tue, Jun 11, 2019 at 7:33 AM Jonathan Zhang <jonathanzhang53@gmail.com>
wrote:

[2019-06-26 05:47] elirehema commented on #118
@jonathanzhang53 checkout my [PR](https://github.com/openMF/web-self-service-app/pull/154) i have fixed it

[2019-11-07 11:09] Rupeshiya opened #157 "Create an account is not working"
## Description

Move to https://openmf.github.io/web-self-service-app/#!/register and tried to register but not working
## Steps to reproduce
Move to https://openmf.github.io/web-self-service-app/#!/register and try to register

## Expected Behaviour

Should register the user
## Actual Behaviour
Not working
## Settings:
    -Browser used:Chrome

## Screenshots/GIFs, if any:
Please attach screensho

[2019-11-07 11:12] Rupeshiya opened #158 "In register form restrict the user to input number only in phone number field."
## Description
In register form restrict the user to input number only in phone number field.

## Steps to reproduce
Move to https://openmf.github.io/web-self-service-app/#!/register and check

## Expected Behaviour
Should only allow number in mobile number field
## Actual Behaviour
No restriction is there.
## Settings:
    -Browser used: Chrome

## Screenshots/GIFs, if any:
Please attach screensh

[2019-11-07 11:17] Rupeshiya opened #159 "Update the ISSUE template to new version"
## Description
Update the ISSUE template to new version
## Steps to reproduce
The issue template is outdated and not working.
## Expected Behaviour
Issue template should be updated with new version and should work instead of manually making it work
## Actual Behaviour
Now to make work issue template manually have to give a space in between ## and title of heading
## Settings:
    -Browser used:Chr

[2019-11-19 14:35] elirehema commented on #118
@ankit01ojha can you merge this

[2019-11-25 14:21] botraunak opened #160 "Fix security vulnerability issues due to outdated packages"
##Description
Due to this being an old project some of the dependencies have been identified as github to contain security vulnerabilities

##Steps to reproduce
Check the github repo for security issues

##Expected Behaviour
Update the troublesome dependencies and test so the security vulnerabilities go away

##Actual Behaviour
Old dependencies causing issue

##Settings:
    -Browser used: NA

##S

[2019-11-25 14:21] #71 closed

[2019-11-25 16:32] Rupeshiya opened #166 "Make CREATE ACCOUNT Option visible just below forgot password option"
## Description
Make CREATE ACCOUNT Option visible just below forgot password option

## Steps to reproduce
Move to https://openmf.github.io/web-self-service-app/#!/login and check that create account option is not visible without scrolling.

## Expected Behaviour
Should be visible just below forgot password.

## Actual Behaviour
As of now it's not visible without scrolling.

## Settings:
    -Brow

[2019-11-26 06:51] botraunak opened #167 "Update the code to point to the mobile instance"
Use the mobile installation of fineract

https://mobile.openmf.org/fineract-provider/api/v1/

Fineract-Platform-TenantId: mobile

Update the constants

[2020-03-11 22:26] gauravprasadgp commented on #166
hey @Rupeshiya  i have pushed the fix thanks for raising the issue

[2020-03-25 15:56] fidelsam1992 opened #177 "gulp serve error Assertion `args[1]->IsString()' failed."
## Description
Fresh install of the develop branch. gulp serve gives the following error
[code]

## Steps to reproduce
[code]

## Settings:
[code]

[2021-01-27 08:01] besnikbelegu commented on #177
did you manage to find a solution? I have the exact same issue!

[2021-01-27 08:20] besnikbelegu commented on #177
I figured it out! Change the node version to 8.9.1. delete node_modules from the project folder then
`npm install`
then it should run just fine.

[2021-04-25 08:31] BLasan commented on #177
After running the `npm i` command run `npm audit fix` if you're asked to run that

[2021-09-21 22:33] francisguchie opened #179 "Dependencies need to be upgraded to solve ECONFLICT Unable to find suitable version for ......."
##Description
Given the dynamics of changes in the releases of the dependencies, there is need to keep them up to date.

##Steps to reproduce
close this repo and try to run gulp server , gulp build

##Expected Behaviour
It should build

##Actual Behaviour
It is not building

##Settings:
    -Browser used: Mozilla Firefox

##Screenshots/GIFs, if any:
Please attach screenshots/GIFs of the error/issu

[2021-09-22 10:50] francisguchie commented on #179
All

By using  "angular": "^1.7.9"  and "angular-translate": "^2.19.0",  this issue was solved

[2021-09-22 10:51] francisguchie commented on #179
Now there is a new error

$ gulp serve
fs.js:39
} = primordials;
    ^

ReferenceError: primordials is not defined
    at fs.js:39:5

[2021-09-23 08:40] francisguchie commented on #177
@BLasan  - is it possible to run with the latest node v14.4.0

[2021-09-23 14:39] francisguchie commented on #177
I figured it out! Change the node version to 8.9.1. delete node_modules from the project folder then

@besnikbelegu  Do i do this in the code like this below?
  "engines":{
    "node": "8.9.1"
  },

[2021-09-23 15:05] BLasan commented on #177
It should be I guess.

[2021-09-23 15:52] francisguchie commented on #177
How I solved this Issue

@besnikbelegu
I solved he npm install by
1- Intalled [NVM ](https://linuxize.com/post/how-to-install-node-js-on-ubuntu-18.04/)and selected node version 8.9.1
2- ran the npm install command and followed the instructions to select the suitable angular version its 1.6.5 in the bower.json file and also the angular-translate = 2.15.2
and all is ok

[2021-09-23 23:07] francisguchie commented on #177
I have managed to run gulp serve but now i cannot log in

[2021-09-23 23:12] francisguchie opened #180 "Cannot log into Self-service User"
##Description
A self service user can not log into the the web-self-service-app

##Steps to reproduce
Follow the steps in the [READ ME](https://github.com/openMF/web-self-service-app#readme) - run gulp serve to start the server

##Expected Behaviour
A Self service user (client in this case) should be able to log in

##Actual Behaviour
Instead an error
{"timestamp":1632438329760,"status":400,"error

[2021-09-23 23:14] francisguchie commented on #179
ALL,
I am closing this issue since i found a solution here https://github.com/openMF/web-self-service-app/issues/177#issuecomment-925941434

[2021-09-23 23:14] #179 closed, assigned to nobody

[2021-09-24 02:02] francisguchie commented on #180
This is where the challenge is
login in information is not passed on as a json body
/fineract-provider/api/v1/self/authentication?password=password&username=mifos

following this [FINERACT-726](https://issues.apache.org/jira/browse/FINERACT-726) this was changed and i think we should address this too

[2021-09-24 10:56] ikimbra commented on #180
True.
The login is only available for the super user but not the client.

[2021-09-24 20:37] francisguchie commented on #180
@rrpawar @Blasan, have you looked at this

[2021-09-25 14:24] francisguchie commented on #177
All

I have figured out (i think) the reason why i cannot log in see #180  which explains why i cannot log into the server

[2021-09-29 18:43] francisguchie commented on #180
@rrpawar96 Have you looked at

This is where the challenge is
login in information is not passed on as a json body
/fineract-provider/api/v1/self/authentication?password=password&username=mifos

following this FINERACT-726 this was changed and i think we should address this too

[2021-09-29 18:45] francisguchie commented on #177
@rrpawar96  have a look

[2021-10-03 14:13] francisguchie opened #181 "CORS Missing Allow Origin"
**##Description**
Currently, client-side scripts (e.g., JavaScript) are prevented from accessing much of the Web of Linked Data due to "same origin" restrictions implemented in all major Web browsers.
While enabling such access is important for all data, it is especially important for Linked Open Data and related services; without this, our data simply is not open to all clients.
If you have publi

[2021-10-03 20:55] francisguchie commented on #181
@rrpawar96 @Blasan
Have you seen this https://issues.apache.org/jira/browse/FINERACT-879

[2021-10-03 20:58] francisguchie commented on #180
@Blasan @ikimbra
thanks to @rrpawar96 there is a PR solving the login to the latest build of fineract i.e. the login request coming in as json file as suggested in  https://issues.apache.org/jira/browse/FINERACT-726

[2021-10-04 23:44] francisguchie commented on #180
@Blasan  @luckyman20 @rrpawar96
More changes and now no API errors after clicking log in nothing changes on the screen

https://user-images.githubusercontent.com/22683654/135938903-a8dcb132-970b-4099-8425-6194a1ceae0a.mp4

[2021-10-04 23:44] francisguchie commented on #180
@ikimbra  have you tested this ?

[2021-10-04 23:47] francisguchie commented on #181
@BLasan, using this PR https://github.com/openMF/web-self-service-app/pull/182 I can connect to the latest build with no CORS errors. But look at the new developments https://github.com/openMF/web-self-service-app/issues/180#issuecomment-933938606

[2021-10-05 01:08] francisguchie commented on #180
@rrpawar96 after trying out 2 browsers on the same PC , I finally see the dashboard and I can see data on in the browser. This is confusing. The web-self-service-app seems to have its own brain

[2022-01-09 19:25] pete10200 commented on #180
Was this issue resolved anyhow? Are there any tricks that can be implemented meanwhile?

{"timestamp":1641671332070,"status":400,"error":"Bad Request","message":"","path":"/fineract-provider/api/v1/self/authentication"}

[2022-01-10 09:08] francisguchie commented on #180
@pete10200  it was solved - it was something connected to a number of changes in Apache Fineract.
@rrpawar96 helped me resolve it - may be let him make a PR for it

[2022-01-10 11:23] pete10200 commented on #180
Thanks

[2022-01-10 11:30] rrpawar96 commented on #180
Hi @francisguchie @pete10200 PR is already been created for this issue ; https://github.com/openMF/web-self-service-app/pull/182

[2022-01-10 11:32] rrpawar96 commented on #180
Please test this PR https://github.com/openMF/web-self-service-app/pull/182 let me know @pete10200 if this PR also doesn't help you, I will create new PR then

[2022-01-10 12:07] francisguchie commented on #180
@pete10200  should test, me i tested long time ago and it works just fine. May be some one should merge

[2022-01-10 13:13] pete10200 commented on #180
@rrpawar96 @francisguchie   sorry i think my issue is a bit lost. this solution is for web-self-service-app i am looking for a solution for the self service android mobile up where the same problem is encountered.

{"timestamp":1641671332070,"status":400,"error":"Bad Request","message":"","path":"/fineract-provider/api/v1/self/authentication"}

[2022-01-10 13:26] rrpawar96 commented on #180
@pete10200 can you paste the link of that repository will be easy to help you then

[2022-01-10 13:35] pete10200 commented on #180
gh repo clone openMF/mifos-mobile

https://github.com/openMF/mifos-mobile

[2022-01-10 14:31] rrpawar96 commented on #180
Please create a issue in that repository, I will paste some code in that issue @pete10200

[2022-01-10 15:08] pete10200 commented on #180
@rrpawar96 have created issue "Bad Request","message":"","path":"/fineract-provider/api/v1/self/authentication"} #1825

[2022-01-12 19:52] pete10200 commented on #180
@rrpawar96 I have tested this and it works fine also applying PR #183 gives a fine resolution to the problems. Thanks.